<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver" mode="ios" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Instrucciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="save()" expand="block" fill="clear" shape="round">
    guadar
  </ion-button>

  <ion-button (click)="cargar()" expand="block" fill="clear" shape="round">
    cargar
  </ion-button>
  
  <ion-card *ngFor="let item of listareceta" >
    <img alt="imagen" src="{{item.strMealThumb}}" />
    <ion-card-header>
      <ion-toolbar>
        <ion-text color="tertiary" slot="start" class="ion-padding"><h3>{{item.strMeal}}</h3></ion-text>
        <ion-icon id="abrir-action" name="ellipsis-vertical" color="primary" slot="end" size="large"></ion-icon>
      </ion-toolbar>
    </ion-card-header>
  
    <ion-card-content class="ion-padding">
      {{item.strInstructions}}
    </ion-card-content>
    <ion-action-sheet trigger="abrir-action" header="Actions" mode="ios" [buttons]="actionSheetButtons"></ion-action-sheet>

  </ion-card>


</ion-content>
