<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver" mode="ios" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Instrucciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of listareceta" >
    <img alt="imagen" src="{{item.strMealThumb}}" />
    <ion-card-header>
      <ion-card-title color="tertiary">{{item.strMeal}}</ion-card-title>
      <ion-card-subtitle>{{item.idMeal}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{item.strInstructions}}
    </ion-card-content>
  </ion-card>
</ion-content>
